body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #589ED9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm input{
    display: block;
    padding: 10px;
    border-radius: 5px;
    border-width: 0;
}

#password{
    margin-top: -7px;
    margin-bottom: 5px;
}

#btn{
    width: 100%;
    background-color: rgb(45, 45, 206);
    color: white;
}

p{
    text-align: center;
    color: rgb(230, 220, 220);
}

strong{
    color: white;
}